@import '../../scss/global-imports.scss';

.header{
    display: flex;
    gap: rem(20);
    justify-content: space-between;
    margin: rem(26) rem(29) rem(22) 0;

    &__searchbar{
        display: flex;
        gap: rem(7);
        align-items: center;
        justify-content: space-between;
        
        height: rem(56);
        width: 100%;
        
        padding: rem(18);
        border-radius: 10rem;
        border: solid rem(2) var(--black50);

        & > input{
            border: none;
            background: none;
            width: 100%;
            padding: 0.5rem 0.5rem 0.5rem 0;
            color: var(--white);
            font-weight: 600;

            &:focus{
                outline: none;
            }
        }

        & > img{
            cursor: pointer;
        }
    }


    &__profile{
        display: flex;
        border-radius: 10rem;
        border: solid rem(2) var(--black50);

        img{
            margin-left: rem(23);
            cursor: pointer;

            &:hover{
                filter: invert(71%) sepia(100%) saturate(577%) hue-rotate(88deg) brightness(200%) contrast(93%);
            }

            &:last-child:hover{
                filter: none;
            }
        }
    }
}