:root{
    --white: #FFFFFF;

    --gray50: #F9FAFB;
    --gray100: #F3F4F6;
    --gray200: #E5E7EB;
    --gray300: #D1D5DB;
    --gray: #9CA3AF;

    --pink50: #E97296;
    --pink100: #E66088;
    --pink200: #E34F7B;
    --pink300: #E13D6E;
    --pink: #DC225A;

    --yellow50: #FDC05D;
    --yellow100: #FDB849;
    --yellow200: #FDB035;
    --yellow300: #FDA821;
    --yellow: #FD9C02;

    --green50: #78E39F;
    --green100: #67E093;
    --green200: #56DC87;
    --green300: #45D97B;
    --green: #2BD268;

    --blue50: #859DFF;
    --blue100: #708DFF;
    --blue200: #5C7CFF;
    --blue300: #476CFF;
    --blue: #234EFF;

    --orange50: #FEA486;
    --orange100: #FE9572;
    --orange200: #FD855D;
    --orange300: #FD7649;
    --orange: #FD6835;

    --black50: #333333;
    --black100: #212121;
    --black200: #1A1A1A;
    --black300: #0D0D0D;
    --black: #000000;
}


